@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$gutter: 4rem;
$header-height: 1.25rem + $gutter / 2;
$toc-min-offset: 12rem;
$toc-timing: 200ms;

@import 'reset';
@import 'main';
@import 'topbar';
@import 'header';
@import 'page';
@import 'sidebar-toc';
@import 'main-toc';
